@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-[2.25rem] leading-[2.5rem] md:leading-[3.625rem] tablet:text-[3rem] font-font_poppins font-bold desktop:text-[3.125rem] text-neutral-900;
  }
  .h2 {
    @apply text-[1.875rem] font-semibold;
  }
  .h3 {
    @apply text-[1.25rem] leading-[1.708rem] font-medium;
  }
  .p {
    @apply -tracking-wide text-[1rem];
  }
  .pg_title {
    @apply font-medium uppercase h3 text-primary-500 font-font_poppins;
  }
  .pg_t2 {
    @apply font-font_poppins leading-[2.5rem] md:leading-[2.813rem] h2;
  }
  .small {
    @apply leading-[1.625rem] text-[0.875rem];
  }

  .max_w {
    @apply max-w-screen-2xl;
  }
  .padding {
    @apply px-3 md:px-20;
  }
  /*  */
  .rounded_custom {
    @apply rounded-sm;
  }
  .shadow_custom {
    @apply shadow;
  }
  .custom_base {
    @apply text-[1rem];
  }
}

/* brands swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* preloader */
/* home */
.loader {
  width: 5rem;
  height: 5rem;
  position: relative;
  overflow: hidden;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgb(255, 136, 0);
  transform: translate(-50%, 100%) scale(0);
  animation: push 2s infinite ease-in;
}
.loader:after {
  animation-delay: 1s;
}
@keyframes push {
  0% {
    transform: translate(-50%, 100%) scale(1);
  }
  15%,
  25% {
    transform: translate(-50%, 50%) scale(1);
  }
  50%,
  75% {
    transform: translate(-50%, -30%) scale(0.5);
  }
  80%,
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
/* home */
/* team */
.loader_team {
  width: 100%;
  /* height: 200px; */
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd),
    radial-gradient(38px circle at 19px 19px, #ddd 50%, transparent 51%),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 315px 200px, 315px 130px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
  animation: loading_team 1.5s infinite;
}

@keyframes loading_team {
  to {
    background-position: 315px 0, 0 0, 15px 140px, 65px 145px;
  }
}

/* team */

/* Define a custom animation called animate-bounce-custom */
/*  */
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*  */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
